In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
import pandas as pd
import seaborn as sns # importar la libreria seaborn

In [34]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Edad_copiadofinal.csv', encoding = 'latin_1',on_bad_lines='skip', sep=';')

In [38]:
df = df.round(decimals=0).astype(object)

In [40]:
df = df.astype(str)

In [41]:
df = df.apply(lambda x: x.str.replace('.0',''))

In [43]:
df = df.apply(lambda x: x.str.replace('nan',''))

In [57]:
df=df[10::]

In [64]:
df.to_csv('/content/drive/My Drive/Edad_delitos.csv', index=False)

In [63]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2018,2019,2020,2021,2022,2023
10,,HOMBRE,,,,,,,
11,,,Menores de 14 anos,1699,1789,818,1031,1232,1251
12,,,14 - 17 anos,2514,2787,1195,1173,2283,2555
13,,,18 - 29 anos,43296,44736,30177,27166,34701,35106
14,,,30 - 44 anos,57289,59965,46203,42543,55288,55896
15,,,45 - 64 anos,41150,42675,34330,31320,39012,40999
16,,,65 anos y mas,8581,9041,6931,7240,9003,10536
17,,,No identifica,90,92,93,120,154,275
18,,,Total,154619,161085,119747,110593,141673,146618
19,,TOTAL,,,,,,,
20,,,Menores de 14 anos,4065,4213,2026,2727,3118,3074
21,,,14 - 17 anos,6183,6265,2975,2992,5332,5728
22,,,18 - 29 anos,81615,83124,55674,53407,67151,67985
23,,,30 - 44 anos,100122,105001,79337,77063,97718,100475
24,,,45 - 64 anos,70484,72978,57458,55254,67449,71628
25,,,65 anos y mas,15187,15971,12026,13379,16213,18836
26,,,No identifica,164,174,168,244,323,543
27,,,Total,277820,287726,209664,205066,257304,268269
28,VICTIMARIO,MUJER,,,,,,,
29,,,Menores de 14 anos,57,46,22,13,12,15
30,,,14 - 17 anos,2420,2050,730,512,591,556
31,,,18 - 29 anos,13061,10688,5609,5837,5252,4927
32,,,30 - 44 anos,11337,8862,5205,5944,5983,6064
33,,,45 - 64 anos,5471,4460,2524,3086,2871,2949
34,,,65 anos y mas,483,409,274,323,316,376
35,,,No identifica,72,36,24,87,197,342
36,,,Total,32901,26551,14388,15802,15222,15229
37,,HOMBRE,,,,,,,
38,,,Menores de 14 anos,97,108,54,35,64,42
39,,,14 - 17 anos,5186,5252,2540,1968,2655,2400
40,,,18 - 29 anos,43931,34774,18962,17685,17851,15668
41,,,30 - 44 anos,38964,31691,19638,21209,22013,20863
42,,,45 - 64 anos,16639,13894,9045,10060,9757,9406
43,,,65 anos y mas,1385,1267,982,1206,1150,1190
44,,,No identifica,144,82,90,185,470,769
45,,,Total,106346,87068,51311,52348,53960,50338
46,,TOTAL,,,,,,,
47,,,Menores de 14 anos,154,154,76,48,76,57
48,,,14 - 17 anos,7606,7302,3270,2480,3246,2956
49,,,18 - 29 anos,56992,45462,24571,23522,23103,20595
50,,,30 - 44 anos,50301,40553,24843,27153,27996,26927
51,,,45 - 64 anos,22110,18354,11569,13146,12628,12355
52,,,65 anos y mas,1868,1676,1256,1529,1466,1566
53,,,No identifica,216,118,114,272,667,1111
54,,,Total,139247,113619,65699,68150,69182,65567